{% extends 'base.html.twig' %}

{% block title %}Inicio
{% endblock %}

{% block estilos %}{% endblock %}

{% block body %}

	<nav
		class="navbar navbar-expand-lg navbar-light bg-light">
		<!-- Just an image -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="{{ asset('/img/dharma-negro.png')}}" width="80" height="80" class="rounded" alt="">
			</a>
		</nav>
		<a class="navbar-brand" href="#">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Registrarse
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Ingresar</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Acciones
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Persona</a>
						<a class="dropdown-item" href="#">Album</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Imagen</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			</form>
		</div>
	</nav>
</br>

<div class="text-center">
	<img src="{{ asset ('/img/_MG_6049.jpg')}}" class="rounded" alt="Responsive image">
</div>{% endblock %}
